<div class="form">
    <div class="form-container">
        <form class="form1">
            <label for="name">NAME</label><br>
            <input type="text" id="name" name="name" placeholder="Enter your name..">
            <br><br>
            <label for="comment">SHARE YOUR EXPERIENCE</label><br>
            <textarea id="comment" name="comment" placeholder="My journey as a ProGrad was.."></textarea>
            <br><br>
            <button class="button">POST</button>
        </form>
    </div>
</div>