.form{
    width:70%;
    margin: auto;
}
.form-container{
    background-color: rgba(175, 182, 182, 0.068);
    border-radius: 5px;
    padding: 30px;
    margin: 16px 0;
    resize: vertical;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.button {
    width: 6em;
    height: 2.5em;
    background-color: #f05136;
    color: white;
    font-weight: bolder;
}
#comment{
    height: 50px;
}
.form1{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 220px;
}