.testimonials{
    width:70%;
    margin: auto;
}
  
.container{
    background-color: rgba(175, 182, 182, 0.068);
    border-radius: 5px;
    padding: 30px;
    margin: 16px 0;
}

.container img{
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 20px;
}

.container p{
    margin-left: 45px;
}

hr{
    border: 0.5px solid rgb(190, 181, 181);
    border-radius: 50px;
}