<div class="testimonials">
    <h3>Here Is What Our ProGrads Have To Say</h3>
    <div class="container">
        <article>
            <img src="../../assets/profile-user.png" alt="icon">
            <p><span>PRAVESH, FSD0A0221</span> </p>
            <p>In my academics, I learnt only theoretical concepts of programming but ProGrad emphasised my coding <br>
                knowledge by teaching me a different approach in solving all the coding problems. My mentor offered me <br>
                excellent support by giuding us on each step to improve my progress.
            </p>
        </article>
        <hr>
        <article>
            <img src="../../assets/profile-user.png" alt="icon">
            <p><span>ROBIN HOODA, FSD0B0001</span></p>
            <p>ProGrad not only help me in utilizing my knowledge to the best of my capabilities but also nurtured my<br>
                technical skills and competencies.
            </p>
        </article>
    </div>